<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee    " xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>ResultServlet</servlet-name>
    <servlet-class>de.rerecipe.controller.ResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultServlet</servlet-name>
    <url-pattern>/results</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutocompleteServlet</servlet-name>
    <servlet-class>de.rerecipe.controller.AutocompleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutocompleteServlet</servlet-name>
    <url-pattern>/AutocompleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DrawUpServlet</servlet-name>
    <servlet-class>de.rerecipe.controller.DrawUpServlet</servlet-class>
      <multipart-config>
    <max-file-size>10485760</max-file-size>
    <file-size-threshold>2097152</file-size-threshold>
	</multipart-config>
  </servlet>
   <servlet-mapping>
    <servlet-name>DrawUpServlet</servlet-name>
    <url-pattern>/drawUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddIngrServlet</servlet-name>
    <servlet-class>de.rerecipe.controller.AddIngrServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>AddIngrServlet</servlet-name>
    <url-pattern>/addIngr</url-pattern>
  </servlet-mapping>
  <display-name>Rerecipe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>