#selectedIngr {
  font-size: 23px;
  display: inline-block;
}
div#ingredList {
  background-color: #f2f2f2;
  position: absolute;
  float: left;
  text-align: left;
  margin-left: 265px;
  max-height: 200px;
  overflow: auto;
  width: 170px;
}
div.ingredIn {
  background-color: #f2f2f2;
  height: 25px;
  width: 145px;
  cursor: pointer;
  font-family: sans-serif;
  text-align:left;
}
#ingred {
  width: 170px;
}
.label {
  font-family: sans-serif;	
}